<h1>
  <%= @wiki.title %> <br>
  <small>updated <%= time_ago_in_words(@wiki.updated_at) %> ago</small><br>
  <% if @wiki.private? %>
    <small>Private Wiki by <%= User.find(@wiki.user_id).email %></small>
  <% end %>
</h1>

<% cids=Collaborator.where(wiki_id: @wiki.id).order(user_id: :asc)
                    .pluck(:user_id) %>
<% uids=User.pluck(:id) %>
<% nids=uids.reject{ |n| cids.include? n } %>

<% if cids.count>0 %>
<p><b><%='Collaborator'.pluralize(cids.count)%></b></p>
<table>
  <tr>
    <th class="coll-th-td">User ID</th>
    <th class="coll-th-td">Email</th>
  </tr>
  <% cids.each do |cid| %>
  <tr>
    <td class="coll-th-td"><%= User.find(cid).id %> </td>
    <td class="coll-th-td"><%= User.find(cid).email %> </td>
  </tr>
  <% end %>
</table>
<br>
<% end %>

<% if nids.count>0 %>
<p><b>Add Collaborator</b></p>
<p>
  Enter user id number from available users:
  <%= number_field :user_id, in: 1..Collaborator.count,
    class: 'form-control', placeholder: 0 %>
</p>
<div class="other-users">
  <p><b>Available Users</b></p>
  <table>
    <tr>
      <th class="coll-th-td">User ID</th>
      <th class="coll-th-td">Email</th>
    </tr>
  <% User.find(nids).each do |av_user| %>
  <tr>
    <td class="coll-th-td"><%= av_user.id %> </td>
    <td class="coll-th-td"><%= av_user.email %> </td>
  </tr>
  <% end %>
  </table>
</div>
<% else %>
<p>
  All available users are collaborators.
  Register a new user to add a collaborator.
</p>
<% end %>
