<h1>
  <%= @wiki.title %> <br>
  <small>updated <%= time_ago_in_words(@wiki.updated_at) %> ago</small><br>
  <% if @wiki.private? %>
    <small>Private Wiki by <%= current_user.email %></small>
  <% end %>
</h1>

<% # Determine collaborators and non-collaborators of @wiki.
cids=Collaborator.where(wiki_id: @wiki.id).order(user_id: :asc).pluck(:user_id) 
uids=User.pluck(:id)
# nids stores users that are not collaborators of @wiki.
nids=uids.reject{ |n| cids.include? n } 
nids.delete(current_user.id)
# A wiki owner is an implied collaborator and does not have a collaborator
# object. Thus, for viewing purposes, push Wiki owner id onto cids and sort.
cids << current_user.id
cids.sort!
%>

<% if cids.count>0 %>
<p><b><%='Collaborator'.pluralize(cids.count)%></b></p>
<table>
  <tr>
    <th class="coll-th-td">User ID</th>
    <th class="coll-th-td">Email</th>
  </tr>
  <% User.find(cids).each do |co_user| %>
  <tr>
    <td class="coll-th-td"><%= co_user.id %> </td>
    <td class="coll-th-td"><%= co_user.email %> </td>
  </tr>
  <% end %>
</table>
<br>
<% end %>

<% if nids.count>0 %>
<p><b>Add <%='Collaborator'.pluralize(nids.count)%></b></p>
  <%= form_tag [@wiki,@collaborator] do %>
    <% if nids.count>1 %>
      <p>
      Enter one user id number or a comma separated list of user id numbers from
      available users:<br>
      <%= text_field_tag :new_cids, nil, class: 'field_width form-control',
        placeholder: '# or #, # or #, #, # or . . .' %>
      <%= submit_tag "add" %>
      </p>
    <% else %>
      <p><%= submit_tag "Add available user" %></p>
    <% end %>
  <% end %>
<div class="other-users">
  <p><b>Available Users</b></p>
  <table>
    <tr>
      <th class="coll-th-td">User ID</th>
      <th class="coll-th-td">Email</th>
    </tr>
  <% User.find(nids).each do |av_user| %>
  <tr>
    <td class="coll-th-td"><%= av_user.id %> </td>
    <td class="coll-th-td"><%= av_user.email %> </td>
  </tr>
  <% end %>
  </table>
</div>
<% else %>
<p>
  All available users are collaborators.
  Register a new user to add a collaborator.
</p>
<% end %>
